<h1>Contact Us</h1>
<p>Do you have any question? Drop us a line!</p>

<strong>Phone: </strong><p>(818)555-2332</p>
<strong>Email: </strong><p>tiangue@greenjocote.com</p>
<strong>Address: </strong><p>4321 Hidden St., Los Angeles, CA 91402</p>
