<h1>Welcome to Bike Berlin</h1>
<h2>Your source for used bikes in Nicaragua</h2>

<hr />

<!-- Experimenting with image_tag -->
<div class="container-fluid">
  <div class="row">
    <% (1..6).each do |n| %>
      <div class="col-sm-4 col-md-2">
        <%= image_tag("bike#{n}.jpg", class: "img-responsive") %>
      </div>
    <%end%>
  </div>
</div>
