<h1>Welcome to Bike Berlin</h1>
<h2>Your source for used bikes in Nicaragua</h2>

<hr />

<!-- Experimenting with image_tag -->
<% (1..6).each do |n| %>
  <%= image_tag("bike#{n}.jpg", class: "img-responsive") %>
<%end%>
