$dark : #212a49;
$accent : #21e7b6;
$light-purple: #7883ad;
$orange : #be7266;
$purple: #273359;
$light: white;
$shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.75);

.green {
  background-color: $accent;
}

.orange {
  background-color: $orange;
}
