// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "colors";

.product {
  background-color: $light;
  padding: 0;
  text-align: center;
  width: 80%;
  margin: auto auto 50px;
  border: 1px solid $light-purple;
  border-radius: 2%;
  img {
    width: 92%;
    margin: auto;
  }

  a:hover {
    color: $orange;
  }

}

.product-info {
  border-top: 1px solid $orange;
  width: 95%;
  margin: auto auto 50px;
  p {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
