@import "global_styles";

$left-radius: $radius 0px 0px $radius;


 // generic styles
.no-padding {
  padding: 0;
}


// carousel styling

.carousel.slide img {
      width: 100%;
}

// Deals section styling

.deals-section {
  margin-bottom: 50px;
}

.featured-product-info {
  background-color: $purple;
  width: 100%;
  padding: 10px 30px;
  color: $dark;
  h2 {
    padding: 30px;
    font-size: 4em;
    color: $light;
  }

  p {
    font-size: 1.8em;
    font-weight: bolder;
    strong {
      font-weight: bold;
      color: $orange;
    }
  }

  a {
    color: $light;
  }
  .button {
    &:hover {
      background-color: $accent;
    }
  }
}
.best-deal {
  width: 100%;
  background-color: $light;
  margin-bottom: 0;
  display: none;
}
@media (max-width: 992px) and (min-width: 768px) {
  .carousel.slide img,
  .featured-product-info {
    height: 356px;
  }
  .carousel.slide img {
    width: 475px;
  }
}
@media (min-width: 993px) {
  .carousel.slide img {
    width: 640px;
    float: right;
  }
  .best-deal,
  .carousel.slide img,
  .featured-product-info {
    height: 480px;
  }

  .best-deal {
    display: block; // Shows the best-deal div in large secreens
  }
}
