@import "global_styles";

$left-radius: $radius 0px 0px $radius;


 // generic styles
.no-padding {
  padding: 0;
}


// carousel styling

.carousel.slide img {
      width: 100%;
}

// Deals section styling

.deals-section {
  margin-bottom: 50px;
  a {
    color: $light;
  }
  .button {
    &:hover {
      background-color: $accent;
    }
  }
}

.featured-product-info {
  background-color: $purple;
  width: 100%;
  padding: 10px 30px;
  color: $dark;
  h2 {
    padding: 30px;
    font-size: 4em;
    color: $light;
  }

  p {
    font-size: 1.8em;
    font-weight: bolder;
    strong {
      font-weight: bold;
      color: $orange;
    }
  }


}

@keyframes deal-title {
  from { background-color: $accent;}
  to {background-color: $orange;}
}

.best-deal {
  width: 100%;
  background-color: $light;
  margin-bottom: 0;
  height: 640px;
  h3 {
    font-size: 2em;
    font-weight: bold;
    color: $light;
    margin-top: 0;
    padding: 20px;
    animation-name: deal-title;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }

  img {
    max-height: 400px;
    margin: auto;
  }
}

.best-deal-info {
  background-color: rgba(0, 0, 44, 0.7);
  position: absolute;
  bottom: 5px;
  left: 5px;
  right: 5px;
  width: 90%;
  margin: auto;

  h4 {
    color: $light;
    font-size: 2em;
    padding-top: 10px;
  }

  p {
    font-size: 1.8em;
    color: $accent;
    font-weight: normal;
  }

  a {
    margin: 10px auto 15px;
  }
}

@media (max-width: 992px) and (min-width: 768px) {
  .carousel.slide img,
  .featured-product-info {
    height: 356px;
  }
  .carousel.slide img {
    width: 475px;
  }
}
@media (min-width: 993px) {
  .carousel.slide img {
    width: 640px;
    float: right;
  }
  .best-deal,
  .carousel.slide img,
  .featured-product-info {
    height: 480px;
  }
}
