<!DOCTYPE html>
<html>
  <head>
    <title>Tiangue</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul>
      <li>Home</li>
      <li>About</li>
      <li>Contact</li>
    </ul>
    <%= yield %>

    <footer>
      &copy; 2016 Nicaragua Tiangue
    </footer>
  </body>
</html>
